.content{
  position: fixed;
  height: calc(100vh - 8vh);
  width: calc(100vw - 65px);
  background-color: #d9d2b5;
  /* margin-top: 100%;
  margin-left:100%;  */
  bottom: 0;
  right: 0;
  /* top: 0; */
  /* right: 0; */
  /* bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%; */
  overflow-y: auto;
  overflow-x: hidden;
}