.slide{
  height: 70vh;
  width: 100%;
  border-radius: 0px 0 0px 20px;
  display: flex;
  overflow-x: auto;
  /* gap: 25px; */

}
.slide::-webkit-scrollbar{
  display: none;
}

 img{
  height: 100%;
  width: 30%;
  object-fit: cover;
  transition: 0.8s ease-in-out;
}

.halfWidth{
  height: 100%;
  width:100%;
  border: 1px solid green;
  display: flex;
  gap: 5px;
}

.halfWidth img:hover {
  cursor: pointer;
}

.halfWidth img:focus {
  cursor: pointer;
}

.selectedImage {
  width: 70%;
  transition: all 0.8s ease-in-out;
}
